<div id="page">
    <div id="page-content">
        <h2 id="page-content-title"><%- page.title %></h2>
        <div id="page-content-article">
            <%- list_categories() %>
        </div>
    </div>
</div>


</div>
</div>

