<div id="page">
    <div id="page-content">
        <h2 id="page-content-title"><%- page.title %></h2>
        <div id="page-content-article">
            <%- page.content %>
        </div>

    </div>

</div>
</div>
</div>

<div id="m_toc" onclick="toc_toggle();">
    <span><a><i class="i m_toc"></i></a></span>
</div>