
<div id="page">
    <div id="page-content">
        <h2 id="page-content-title"><%- page.title %></h2>
        <div id="page-content-article">
            <div class="tagcloud">
                <%- tagcloud({
                    min_font: 20,
                    max_font: 40,
                    amount: 999,
                    unit: 'px',
                  }) %>
            </div>
        </div>
    </div>
</div>


</div>
</div>

