<!-- footer -> Sliderbar.ejs -->


<div id="sliderbar" class="move_left">

    <div class="sliderbar-content-menu">
        <div class="Sliderbar-content clear">
            <div class="Sliderbar-content-switch clear">
                <h2>PAGES</h2>
                <a onclick="show_slide_content(2);"><i class="i down"></i></a>
            </div>
            <div id="Sliderbar-content-2" class="clear">
                <% for (var o in theme.pages){ %>
                <a href="<%= theme.pages[o].link %>" onclick="sideMenu_toggle()"><%= o %></a>
                <% } %>
            </div>
        </div>
    </div>
</div>

<div id="sliderbar-cover" onclick="sideMenu_toggle();"></div>
<div id="sliderbar-toc-cover" onclick="toc_toggle();"></div>
<div id="sliderbar-toc" class="is-position-fixed move_right">
    <div class="toc">
        <ol class="toc-list">
            <%- toc(page.content,{list_number:false}); %>
        </ol>
    </div>
</div>

